@charset "UTF-8";

.table {
    display: table;
}

.header {
    display: table-header-group;
    font-weight: bold;
}

.rowGroup {
    display: table-row-group;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    width: 25%;
}

.error {
    color: #D35400;
}

.loginBox {
    width: 320px;
    height: 420px;
    background: #F5B041;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 15px solid #F9E79F;
    border-radius: 25px;
    opacity: 0.9;
    padding: 50px;
    margin: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -23%;
    left: calc(50% - 50px);
}
.register{
    width: 320px;
    height: 1020px;
    background:#FF6347;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: center;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.button{
    color: #fff1da;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.not-allowed{
    cursor: not-allowed;
}
