<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
        body {
            background: url(https://images.unsplash.com/photo-1473429174434-a8a8d5e0dc2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
            background-size: 100%;
            background-attachment: fixed;
        }

        .form-signin {
            background-color: #FDFEFE;
            border: aqua 1px;
            opacity: 0.9;
            padding: 45px 60px;
            border-radius: 5%
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>
    <title>Create New Beer</title>
</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" th:action="@{/beers}">
                <a class="nav-link" href="/beers">Show Beers</a>
            </li>
            <li class="nav-item active" style="position: absolute; right: 0;" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('USER')">
                <a class="nav-link" th:href="@{'/users/' + ${#authentication.getName()}}">View Profile</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin">Admin Portal</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/users">View Users</a>
            </li>
        </ul>
    </div>
</nav>
<!--create form-->
<div class="col-sm-11 col-md-7 col-lg-3 mx-auto">
    <form class="form-signin"
          th:action="@{/beers/new}" th:object="${beer}" method="post" enctype="multipart/form-data">
        <h1 class="h3 mb-3 font-weight-normal " style="color:#1A5276">Create your perfect beer</h1>

        <div th:if="${error != null}">
            <span th:text="${error}"></span>
            <br/><br/>
        </div>

        <label th:text="#{beers.header.name}">Beer name</label>
        <input type="text" th:field="*{name}" class="form-control" placeholder="Beer name" minlength="2" maxlength="50"
               required autofocus/>
        <label class="error" th:errors="*{name}"> </label>

        <label th:text="#{beers.header.abv}">ABV</label>
        <input type="text" th:field="*{abv}" class="form-control" placeholder="ABV" required>
        <label class="error" th:errors="*{abv}"> </label>
        <br/>

        <label th:text="#{beers.header.picture}">Picture</label>
        <input type="file" name="file" id="file" class="form-control" placeholder="Picture">
        <label class="error" th:errors="*{picture}" > </label>

        <label th:text="#{beers.header.style}">Style</label>
        <br/>
        <select th:field="*{styleId}" required>
            <option value="0" disabled selected>Select Style</option>
            <option th:each="style : ${styles}"
                    th:value="${style.id}"
                    th:text="${style.getName()}">BeerStyleOne
            </option>
        </select>
        <br/>

        <label th:text="#{beers.header.originCountry}">Country</label>
        <select th:field="*{originCountryId}" required>
            <option value="0" disabled selected>Select Origin Country</option>
            <option th:each="originCountry : ${countries}"
                    th:value="${originCountry.id}"
                    th:text="${originCountry.getName()}">BeerCountryOne
            </option>
        </select>
        <br/>

        <label th:text="#{beers.header.brewery}">Brewery</label>
        <select th:field="*{breweryId}" required>
            <option value="0" disabled selected>Select Brewery</option>
            <option th:each="brewery : ${breweries}"
                    th:value="${brewery.id}"
                    th:text="${brewery.getName()}">BeerBreweryOne
            </option>
        </select>

        <br/>
        <label th:text="#{beers.header.tag}">Tag</label>
        <br/>
        <select th:field="*{tags}" required>
            <option value="" disabled selected>Select Tag</option>
            <option th:each="tag : ${allTags}"
                    th:value="${tag.name}"
                    th:text="${tag.getName()}">TagBeerOne</option>
        </select>
        <br/>

<!--        <i th:if="${param.error}" class="error">-->
<!--            Wrong information inserted.-->
<!--        </i>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Create">Create it</button>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>
