<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
        body {
            background: url(https://images.unsplash.com/photo-1473429174434-a8a8d5e0dc2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
            background-size: 100%;
            background-attachment: fixed;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>-->
    <title>Beers-top</title>
</head>
<body>

<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" th:action="@{/beers}">
                <a class="nav-link" href="/beers">Show Beers</a>
            </li>
            <li class="nav-item active" >
                <a class="nav-link" href="/beers/top">Top 3</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item active" style="position: absolute; right: 0;"sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/beers/new">Create Beer</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('USER')">
                <a class="nav-link" th:href="@{'/users/' + ${#authentication.getName()}}">View Profile</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin">Admin Portal</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/users">View Users</a>
            </li>
        </ul>
    </div>
</nav>
<br/><br/>
<div class="jumbotron jumbotron-fluid"style="opacity: 0.7;">
    <h1 class="display-4"
        style="text-align: center;
                font-family: 'Kalam';
                height: content-box;
                font-style: oblique;
                font-weight: bold;
                font-size: 40px ;color:#1A5276;">Our top Three</h1>
</div>
<br/><br/>

<!--Catalog form-->
<div class="row row-cols-1 row-cols-md-2"
     style="max-width: 75%;
margin: auto;
position: center;">

    <div class="col md-4" th:each="beer : ${listOfTopBeers}"
         style="align-content: center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${beer.getName()}"
                    style="text-align: center;
                font-family: 'Kalam';
                font-style: oblique;
                font-size: 34px">Beer</h5>
                <div id="module" class="container">
                    <ul class="list-group list-group-flush">
                        <div th:if="${beer.picture == null}" style="text-align: center;">
                            <img width="250" height="300" src= "https://static.vecteezy.com/system/resources/previews/000/526/665/non_2x/glass-of-beer-with-phrase-drink-beer-vector.jpg">
                        </div>
                        <div th:unless="${beer.picture == null}" style="text-align: center;">
                            <img width="250" height="300" th:src="@{'data:image/jpeg;base64,' + ${beer.picture}}" alt="image">
                        </div>
                        <li class="list-group-item" sty th:text="${beer.abv}"
                            style="align-content: center">4.5
                        </li>
                        <li class="list-group-item" th:text="${beer.description}"
                            style="align-content: center">Description
                        </li>
                        <li class="list-group-item" th:text="${beer.styleName}"
                            style="align-content: center">Style
                        </li>
                        <li class="list-group-item" th:text="${beer.originCountryName}"
                            style="align-content: center">Country Name
                        </li>
                        <li class="list-group-item" th:text="${beer.breweryName}"
                            style="align-content: center">Brewery
                        </li>
                        <div class="list-group-item" th:if="${beer.rating != null}" th:text="${beer.rating}"
                             style="align-content: center">Rating
                        </div>
                        <div class="list-group-item" th:if="${beer.rating == null}" th:text="0.0"
                             style="align-content: center">Rating
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>