<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" th:href="@{/addition.css}" href="../static/addition.css"/>
    <title>Beer Details</title>
    <style>
        body {
            background: url(https://images.unsplash.com/photo-1473429174434-a8a8d5e0dc2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
            background-size: 100%;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" th:action="@{/beers}">
                <a class="nav-link" href="/beers">Show Beers</a>
            </li>
            <li class="nav-item active" style="position: absolute; right: 0;"sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('USER')">
                <a class="nav-link" th:href="@{'/users/' + ${#authentication.getName()}}">View Profile</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin">Admin Portal</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/users">View Users</a>
            </li>
        </ul>
    </div>
</nav>

<!--Bootstrap Card-->

<br/><br/><br/>
<title> style="text-align: center;
    font-family: 'Kalam';
    font-style: oblique;
    font-size: 34px;">Taste it to Feel it</title>
    <div class="col-sm-12"
         th:class="justify-content"
         th:id="'module'+${beerMinimalDto.id}"
         style="align-content: center;
         max-width: 75%;
margin: auto;
position: center;
border: aqua 1px;
         opacity: 0.9;
         padding: 45px 60px;
         border-radius: 5%">
        <div class="card"style="width: 40%">
            <div class="card-body" >
                <h5 class="card-title" th:text="${beerMinimalDto.getName()}"
                    style="text-align: center;
                font-family: 'Kalam';
                font-style: oblique;
                font-size: 34px">Beer</h5>

                <div th:if="${beerMinimalDto.picture == null}" style="text-align: center;">
                    <img width="250" height="300" src= "https://static.vecteezy.com/system/resources/previews/000/526/665/non_2x/glass-of-beer-with-phrase-drink-beer-vector.jpg">
                </div>

                <div th:unless="${beerMinimalDto.picture == null}" style="text-align: center;">
                    <img width="250" height="300" th:src="@{'data:image/jpeg;base64,' + ${beerMinimalDto.picture}}" alt="image">
                </div>
<!--                <img class="card-img-top" th:src="@{'data:image/jpeg;base64,' + ${beerMinimalDto.picture}}" alt="image">-->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="${beerMinimalDto.abv}"
                        style="align-content: center">4.5
                    </li>
                    <li class="list-group-item" th:text="${beerMinimalDto.description}"
                        style="align-content: center">Description
                    </li>
                    <li class="list-group-item" th:text="${beerMinimalDto.styleName}"
                        style="align-content: center">Style
                    </li>
                    <li class="list-group-item" th:text="${beerMinimalDto.originCountryName}"
                        style="align-content: center">Country Name
                    </li>
                    <li class="list-group-item" th:text="${beerMinimalDto.breweryName}"
                        style="align-content: center">Brewery
                    </li>
                    <div class="list-group-item" th:if="${beerMinimalDto.rating != null}" th:text="${beerMinimalDto.rating}"
                         style="align-content: center">Rating
                    </div>
                    <div class="list-group-item" th:if="${beerMinimalDto.rating == null}" th:text="0.0"
                         style="align-content: center">Rating
                    </div>
                    <div class="list-group-item" th:unless="${beerMinimalDto.tags.isEmpty()}"
                         th:text="${beerMinimalDto.tags}">

                    </div>
                </ul>
            </div>
    </div>

        <div sec:authorize="isAuthenticated()">
            <form class="nav-item active" th:if="${beerMinimalDto.creatorId == user.id or hasUserRole == true}">
                <a th:href="@{'/beers/update/' + ${beerMinimalDto.id}}" class="button edit">Edit</a>
            </form>
        </div>
        <br/>
            <form class="nav-item active"sec:authorize="isAuthenticated()" th:object="${beerMinimalDto}">
                <a th:href="@{'/users/' + ${user.username} + '/beer-list'}" class="button add">Add to drink list</a>
            </form>
        <br/>
        <form class="nav-item active"sec:authorize="isAuthenticated()" th:object="${beerMinimalDto}">
                        <a th:href="@{'/users/' + ${user.username} + '/beer-list'}" class="button add">Add to wish list</a>
                    </form>
                    <br/>
                    <form class="nav-item active" sec:authorize="isAuthenticated()" th:if="${beerMinimalDto.creatorId == user.id or hasUserRole == true}" >
                        <a th:href="@{'/beers/delete/' + ${beerMinimalDto.id}}" class="button delete">Delete</a>
                    </form>
                    <br/>
                    <form action="#" th:action="@{'/beers/' + ${beerMinimalDto.id} + '/rate'}"
                          th:object="${beerMinimalDto}"
                          method="post" sec:authorize="isAuthenticated()" th:unless="${beerMinimalDto.listOfRaterId.contains(user.id)}">
                        <p>
                        <div th:type="text" >Enter your rating below:</div>
                        <input type="number" th:field="${beerMinimalDto.rating}" min="1" max="5" id="addRating" placeholder="Your Rating" />
                        <i th:if="${param.error}" class="error" >
                            You can not rate beer less than 1 and more than 5.
                        </i>
                        <input type="submit" value="Rate Beer"/>
            </p>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>
</html>