<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home page</title>
    <style>
        body {
            background: url(https://images.unsplash.com/photo-1473429174434-a8a8d5e0dc2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
            background-size: 100%;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" th:action="@{/beers}">
                <a class="nav-link" href="/beers">Show Beers</a>
            </li>
            <li class="nav-item active" >
                <a class="nav-link" href="/beers/top">Top 3</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item active" style="position: absolute; right: 0;"sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout" >Logout</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/beers/new">Create Beer</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('USER')">
                <a class="nav-link" th:href="@{'/users/' + ${#authentication.getName()}}">View Profile</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin">Admin Portal</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/users">View Users</a>
            </li>
        </ul>
    </div>
</nav>
<br/>
<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid"style="opacity: 0.7;">
    <div class="container" style="opacity: 0.9;">
        <h1 class="display-4"
            style="text-align: center;
                font-family: 'Kalam';
                font-style: oblique;
                font-weight: bold;
                font-size: 40px ;color:#1A5276">Beer collection for everyone</h1>
        <p class="lead"
           style="text-align: center;
                font-family: 'Kalam';
                font-style: oblique;
                font-weight: bold;
                font-size: 32px;color: #1A5276;
text-shadow: 2px 2px #5DADE2 ;">Come and get your favourite</p>
    </div>
</div>
<!--Bootstrap quotes-->
<div class="card-columns">
    <div class="card"style="opacity: 0.8;">
        <br/>
        <!--        <img class="card-img-top" src="..." alt="Card image cap">-->
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;
                font-family: 'Kalam';
                font-style: oblique;
                font-size: 26px">Famous words from famous people</h5>
            <p class="card-text" style="text-align: center;
color: #34495E">Beer, it's the best damn drink in the world.</p>
            <footer class="blockquote-footer">
            <small class="text-muted">
                <cite title="Source Title" style="color:#34495E ">Jack Nicholson</cite>
            </small>
            </footer>
        </div>
    </div>
    <div class="card p-3"style="opacity: 0.8;">
        <blockquote class="blockquote mb-0 card-body" style="color: #34495E;text-align: center">
            <p>I'm an old-fashioned guy... I want to be an old man with a beer belly sitting on a porch, looking at a
                lake or something.
            </p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    <cite title="Source Title"style="color: #34495E">Johnny Depp</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card"style="opacity: 0.8;">
        <div class="card-body">
            <p class="card-text" style="color: #34495E;text-align: center">Give me a woman who loves beer and I will conquer the world.</p>
            <footer class="blockquote-footer">
                <small>
                    <cite title="Source Title"style="color: #34495E">Kaiser Wilhelm s</cite>
                </small>
            </footer>
        </div>
    </div>
    <div class="card bg-primary text-white text-center p-3"style="color: #34495E;text-align: center; opacity: 0.6;">
        <blockquote class="blockquote mb-0">
            <p>Milk is for babies. When you grow up you have to drink beer.</p>
            <footer class="blockquote-footer">
                <small>
                    <cite title="Source Title" style="color: #1C2833">Arnold Schwarzenegger</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card text-center">
        <div class="card-body"style="opacity: 0.8;">
            <p class="card-text"style="color: #34495E;text-align: center">I work until beer o'clock.</p>
            <footer class="blockquote-footer">
                <small>
                    <cite title="Source Title"style="color: #34495E"> Stephen King</cite>
                </small>
            </footer>
            </blockquote>
        </div>
    </div>
    <div class="card">
    </div>
    <div class="card p-3 text-right"style="opacity: 0.8;">
        <blockquote class="blockquote mb-0">
            <p style="color: #34495E;text-align: center">I have respect for beer.</p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    <cite title="Source Title" style="color: #34495E"> Russell Crowe</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card"style="opacity: 0.8;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;
                font-family: 'Kalam';
                font-style: oblique;
                font-size: 34px"
            >Always choose the best</h5>
            <p class="card-text"style="color: #34495E;text-align: center">I never had one beer. If I bought a six-pack of beer, I kept drinking till all six
                beers were gone. You have to have that kind of understanding about yourself.</p>
            <footer class="blockquote-footer">
                <small>
                    <cite title="Source Title"style="color: #34495E" >Samuel L. Jackson</cite>
                </small>
            </footer>
            </blockquote>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
