<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <style>
        body {
            background: url(https://images.unsplash.com/photo-1473429174434-a8a8d5e0dc2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=800);
            background-size: 100%;
        }

        .form-register {
            background-color: #FDFEFE;
            border: aqua 1px;
            opacity: 0.9;
            padding: 45px 60px;
            border-radius: 5%
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Register</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" th:action="@{/beers}">
                <a class="nav-link" href="/beers">Show Beers</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <!--            <form class="nav-item active" sec:authorize="isAuthenticated()">-->
            <!--                <a class="nav-link" href= "/logout">Logout</a>-->
            <!--            </form>-->
            <!--            <li class="nav-item active">-->
            <!--                <a class="nav-link" href="/register">Register</a>-->
            <!--            </li>-->
            <li class="nav-item active" sec:authorize="hasAuthority('USER')">
                <a class="nav-link" th:href="@{'users/' + ${#authentication.getName()}}">View Profile</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin">Admin Portal</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/users">View Users</a>
            </li>
        </ul>
    </div>
</nav>

<br/><br/><br/><br/><br/>

<!--Bootstrap form-->
<div class="col-sm-11 col-md-7 col-lg-3 mx-auto">
    <form class="form-register" th:action="@{/register}" th:object="${userRegDto}" method="post">
        <h1 class="h3 mb-3 font-weight-normal " style="color:#1A5276">Register</h1>
        <label >Username:</label>
        <input type="text" th:field="*{username}" class="form-control" placeholder="Username"
               minlength="4" maxlength="50" required autofocus>
        <label>Password:</label>
        <input type="password" th:field="*{password}" class="form-control" placeholder="Password"
               minlength="6" maxlength="68" required>
        <label >Retype Password:</label>
        <input type="password" th:field="*{passwordConfirmation}" class="form-control" placeholder="Retype Password"
               minlength="6" maxlength="68" required>

        <i th:if="${error != null}" th:text="${error}" class="error"/>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Register">Register</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
