<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
        body {
            background: url(https://images.unsplash.com/photo-1473429174434-a8a8d5e0dc2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
            background-size: 100%;
            background-attachment: fixed;
        }
        .form{
            background-color: #FDFEFE;
            border: aqua 1px;
            opacity: 0.9;
            padding: 45px 60px;
            border-radius: 5%
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/addition.css}" href="../static/addition.css"/>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>
    <title>Update User</title>
</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active"th:action="@{/beers}">
                <a class="nav-link" href="/beers">Show Beers</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href= "/login">Login</a>
            </li>
            <li class="nav-item active" style="position: absolute; right: 0;"sec:authorize="isAuthenticated()">
                <a class="nav-link" href= "/logout">Logout</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/beers/new">Create Beer</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('USER')">
                <a class="nav-link" th:href= "@{'/users/' + ${#authentication.getName()}}">View Profile</a>
            </li>
            <li class="nav-item active"sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin">Admin Portal</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/users">View Users</a>
            </li>
        </ul>
    </div>
</nav>

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid"style="opacity: 0.7;">
    <div class="container" style="opacity: 0.9;">
        <h1 class="display-4"
            style="text-align: center;
                font-family: 'Kalam';
                font-style: oblique;
                font-weight: bold;
                font-size: 40px ;color:#1A5276">Update your wonderful profile</h1>
    </div>
</div>
<!--Update form-->
<div class="col-sm-11 col-md-7 col-lg-3 mx-auto"
     style="align-content: center">
<form class="form" action="#" th:action="@{'/users/' + ${user.username} + '/update'}"
                th:object="${user}"
                method="post"
                enctype="multipart/form-data">

    <h2 th:text="${user.username}" style="text-align: center;
                font-family: 'Kalam';
                font-style: oblique;
                font-weight: bold;
                font-size: 40px ;">Username:</h2>
    <br/>
    <label th:text="#{user.email}">Email</label>
    <br/>
    <input type="email" th:field="*{email}" id="email" placeholder="Email"/>
    <br/>
    <label>First Name</label>
    <br/>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name"/>
    <br/>
    <label>Last Name</label>
    <br/>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name"/>
    <br/>
    <label>Picture</label>
    <br/>
    <input type="file" name="file" id="file" placeholder="Picture">
    <br/><br/>
    <input type="submit" class="button edit" value="Update Profile" style="border-radius: 15%;box-shadow: 5px 5px #1C2833;"/>

</form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>