<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
        body {
            background: url(https://images.unsplash.com/photo-1473429174434-a8a8d5e0dc2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
            background-size: 100%;
            background-attachment: fixed;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/addition.css}" href="../static/addition.css"/>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">

<!--    <link rel="stylesheet" th:href="@{/addition.css}" href="../static/addition.css"/>-->
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>
    <title>User Profile</title>
</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active"th:action="@{/beers}">
                <a class="nav-link" href="/beers">Show Beers</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href= "/login">Login</a>
            </li>
            <li class="nav-item active" style="position: absolute; right: 0;"sec:authorize="isAuthenticated()">
                <a class="nav-link" href= "/logout">Logout</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/beers/new">Create Beer</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('USER')">
                <a class="nav-link" th:href= "@{'/users/' + ${#authentication.getName()}}">View Profile</a>
            </li>
            <li class="nav-item active"sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin">Admin Portal</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/users">View Users</a>
            </li>
        </ul>
    </div>
</nav>

<!--UserName-->
<br/><br/>
    <h2 th:text="${user.username}" style="text-align: center;
                font-family: 'Kalam';
                font-style: oblique;
                font-weight: bold;
                font-size: 32px;color: #1A5276;">User</h2>
    <br/>

<!--profile form-->
<br><br>
<div class="container-fluid well span6" style="width:800px; margin:0 auto;
         opacity: 0.7;border-radius: 15%;box-shadow:5px 5px #1C2833">
    <div class="row-fluid">
        <div class="span2" >
            <div th:if="${user.picture == null}" style="text-align: center;">
                <img src= "https://p7.hiclipart.com/preview/689/216/1000/beer-man-male-character-vector-guy-holding-a-beer-mug.jpg"
                style="border-radius: 18%;box-shadow:5px 5px #1C2833 ;"width="200"; height="200">
            </div>
            <div th:unless="${user.picture == null}" style="text-align: center;">
                <img th:src="@{'data:image/jpeg;base64,' + ${user.picture}}" alt="image"
                     style="border-radius: 18%;box-shadow: 5px 5px #1C2833;"width="200"; height="200">
            </div>
        </div>

        <div class="span8">
            <br/>
            <label>Username:</label>
            <h3 th:text="${user.username}"style="font-family: 'Kalam';
                font-style: oblique;
                font-weight: bold;
                font-size: 30px ;color:#1A5276">Username:</h3>
            <br/>
            <label>Email:</label>
            <h6 th:text="${user.email}"
                style="font-family: 'Kalam';
                font-style: oblique;
                font-weight: bold;
                font-size: 30px ;color:#1A5276">Email:</h6>
            <br/>
            <label>First name:</label>
            <h6 th:text="${user.firstName}"
                style="font-family: 'Kalam';
                font-style: oblique;
                font-weight: bold;
                font-size: 30px ;color:#1A5276">First name:</h6>
            <br/>
            <label>Last name:</label>
            <h6 th:text="${user.lastName}"
                style="font-family: 'Kalam';
                font-style: oblique;
                font-weight: bold;
                font-size: 30px ;color:#1A5276">Last name</h6>
            <br/>
        </div>

        <div class="span2">
            <div class="btn-group">
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">

<form class="nav-item active"sec:authorize="isAuthenticated()"style="max-width: 75%;">
    <a th:href="@{'/users/' + ${user.username} + '/edit'}" class="button edit">Edit user</a>
</form>

<form class="nav-item active"sec:authorize="isAuthenticated() ">
    <a th:href="@{'/users/' + ${user.username} + '/delete'}" class="button delete">Delete user</a>
</form>

<form class="nav-item active"sec:authorize="isAuthenticated()" th:object="${beerMinimalDto}">
    <a th:href="@{'/users/' + ${user.username} + '/beer-list'}" class="button add">My drink list</a>
</form>

<form class="nav-item active"sec:authorize="isAuthenticated()" th:object="${beerMinimalDto}">
    <a th:href="@{'/users/' + ${user.username} + '/beer-list'}" class="button add">My wish list</a>
</form>
</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</body>
</html>