<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
        body {
            background: url(https://images.unsplash.com/photo-1473429174434-a8a8d5e0dc2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
            background-size: 100%;
            background-attachment: fixed;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>
    <title>Drink-List</title>
</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active"th:action="@{/beers}">
                <a class="nav-link" href="/beers">Show Beers</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href= "/login">Login</a>
            </li>
            <li class="nav-item active" style="position: absolute; right: 0;"sec:authorize="isAuthenticated()">
                <a class="nav-link" href= "/logout">Logout</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/beers/new">Create Beer</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('USER')">
                <a class="nav-link" th:href= "@{'/users/' + ${#authentication.getName()}}">View Profile</a>
            </li>
            <li class="nav-item active"sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin">Admin Portal</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/users">View Users</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <h2 th:text="${user.username}"></h2>
</div>

<div th:if="${user.drankBeers.isEmpty()}">
    <h2 th:text="#{users.emptydrinklist}">Empty drink-list</h2>
</div>

<div th:unless="${user.drankBeers.isEmpty()}">
    <div>
            <h3 th:text="#{users.header.drinklist}"></h3>
    </div>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{beers.header.name}">Name</div>
            <div class="cell" th:text="#{beers.header.abv}">ABV</div>
            <div class="cell" th:text="#{beers.header.style}">Style</div>
<!--            <div class="cell" th:text="#{beers.header.picture}">Picture</div>-->
            <div class="cell" th:text="#{beers.header.rating}">Rating</div>
        </div>
        <div class="row" th:each="beer : ${beersDrinkList}">
            <div class="cell" th:text="${beer.name}">Beer name</div>
            <div class="cell" th:text="${beer.abv}">abv</div>
            <div class="cell" th:text="${beer.style}">Style name</div>
<!--            <div class="cell" th:text="${beer.picture}">Picture</div>-->
            <div class="cell" th:if="${beer.rating != null}" th:text="${beer.rating}">Rating</div>
            <div class="cell" th:if="${beer.rating == null}" th:text="#{NA}">Rating</div>
        </div>
    </div>
</div>
<br/>

<form action="#" th:action="@{'/users/' + ${user.username} + '/beer-list/add-beer-to-drink-list'}"
      th:object="${beerDto}"
      method="post">
    <p>
    <div th:type="text">Enter the ID of the Beer you would like to add to your drink-list</div>
    <input type="text" th:field="${beerDto.id}" placeholder="BeerID"/>
    <input type="submit" value="Add Beer"/>
    </p>

</form>

<br/>

<div th:if="${user.wishList.isEmpty()}">
    <h2 th:text="#{users.emptywishlist}">Empty wish-list</h2>
</div>

<div th:unless="${user.wishList.isEmpty()}">

    <div>
        <h3 th:text="#{users.header.wishlist}"></h3>
    </div>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{beers.header.name}">Name</div>
            <div class="cell" th:text="#{beers.header.abv}">ABV</div>
            <div class="cell" th:text="#{beers.header.style}">Style</div>
<!--            <div class="cell" th:text="#{beers.header.picture}">Picture</div>-->
            <div class="cell" th:text="#{beers.header.rating}">Rating</div>
        </div>
        <div class="row" th:each="beer : ${beersWishList}">
            <div class="cell" th:text="${beer.name}">Beer name</div>
            <div class="cell" th:text="${beer.abv}">abv</div>
            <div class="cell" th:text="${beer.style}">Style name</div>
<!--            <div class="cell" th:text="${beer.picture}">Picture</div>-->
            <div class="cell" th:if="${beer.rating != null}" th:text="${beer.rating}">Rating</div>
            <div class="cell" th:if="${beer.rating == null}" th:text="#{NA}">Rating</div>
        </div>
    </div>
</div>
<br/>
<form action="#" th:action="@{'/users/' + ${user.username} + '/beer-list/add-beer-to-wish-list'}"
                th:object="${beerDto}"
                method="post">
    <p>
        <div th:type="text">Enter the ID of the Beer you would like to add to your wish-list</div>
        <input type="text" th:field="${beerDto.id}" id="id" placeholder="BeerID"/>
        <input type="submit" value="Add Beer"/>
    </p>

</form>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>